<h1>@ViewBag.title</h1>

<form method="post">


    @foreach (var cheese in ViewBag.cheeses)
    {
        <input type="checkbox" name="cheeseIDs" id="@cheese.CheeseID" value="@cheese.CheeseID" />
        <label for="@cheese.CheeseID">@cheese.Name</label>
        <br />

    }



    <input type="submit" value="Remove Cheese(s)" />

</form>